# Discord Setup
DISCORD_TOKEN= # Your Discord Token
REPORTS_DISCORD_CHANNEL_ID= # Discord Channel to post in
UNWANTED_DISCORD_CHANNEL_ID= # Discord Channel for reports of unwanted streamers to post in.

# Twitch Setup
TWITCH_CLIENT_ID= # Your Twitch Client ID
TWITCH_CLIENT_SECRET= # Your Twitch Client Secret
STREAM_GAME_ID=497440 # leave for hell let loose!
STREAM_GAME_NAME=Hell Let Loose # leave for hell let loose!
STREAM_LANGUAGE=de # setup language

# Bot Setup
CERTIFY_DAYS=90 # Certified Twitcher will not been shown up in this time after setting this status
UNWANTED_DAYS=180 # Unwanted Twitcher will not been shown up in this time after setting this status 
IRRELEVANT_DAYS=180 # Irrelevant Twitcher will not been shown up in this time after setting this status
CONSOLE_DAYS=180 # Console Players on Twitch will not been shown up in this time after setting this status
HIDE_HOURS=6 # 'show later' option, if the player is currently not in the game, inactive or something
DELETE_AFTER_ONLINE_TIME=15 # Time until deletion of the post in the Discord-Channel, when the Twitcher is not streaming anymore

# API URLs / API KEYs
API_URL_1=http://example.com:8010/api/get_live_scoreboard
API_URL_2=.../api/get_live_scoreboard
API_URL_3=.../api/get_live_scoreboard
API_URL_4=.../api/get_live_scoreboard
API_URL_5=.../api/get_live_scoreboard
API_URL_6=.../api/get_live_scoreboard
API_URL_7=.../api/get_live_scoreboard
API_URL_8=.../api/get_live_scoreboard
API_KEY_8=xxxx-xxxxx-xxxxxxxx-xxxxxxx-xxxxxx-xxxxxx
API_URL_9=.../api/get_live_scoreboard
API_URL_10=.../api/get_live_scoreboard
API_URL_11=.../api/get_live_scoreboard
API_URL_12=.../api/get_live_scoreboard
